In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../train.csv")

/Users/aidancoco/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,GameId,PlayId,Team,X,Y,S,A,Dis,Orientation,Dir,...,Week,Stadium,Location,StadiumType,Turf,GameWeather,Temperature,Humidity,WindSpeed,WindDirection
0,2017090700,20170907000118,away,73.91,34.84,1.69,1.13,0.40,81.99,177.18,...,1,Gillette Stadium,"Foxborough, MA",Outdoor,Field Turf,Clear and warm,63.0,77.0,8,SW
1,2017090700,20170907000118,away,74.67,32.64,0.42,1.35,0.01,27.61,198.70,...,1,Gillette Stadium,"Foxborough, MA",Outdoor,Field Turf,Clear and warm,63.0,77.0,8,SW
2,2017090700,20170907000118,away,74.00,33.20,1.22,0.59,0.31,3.01,202.73,...,1,Gillette Stadium,"Foxborough, MA",Outdoor,Field Turf,Clear and warm,63.0,77.0,8,SW
3,2017090700,20170907000118,away,71.46,27.70,0.42,0.54,0.02,359.77,105.64,...,1,Gillette Stadium,"Foxborough, MA",Outdoor,Field Turf,Clear and warm,63.0,77.0,8,SW
4,2017090700,20170907000118,away,69.32,35.42,1.82,2.43,0.16,12.63,164.31,...,1,Gillette Stadium,"Foxborough, MA",Outdoor,Field Turf,Clear and warm,63.0,77.0,8,SW

In [11]:
df.FieldPosition

0          NE
1          NE
2          NE
3          NE
4          NE
5          NE
6          NE
7          NE
8          NE
9          NE
10         NE
11         NE
12         NE
13         NE
14         NE
15         NE
16         NE
17         NE
18         NE
19         NE
20         NE
21         NE
22         NE
23         NE
24         NE
25         NE
26         NE
27         NE
28         NE
29         NE
         ...
682124    BLT
682125    BLT
682126    BLT
682127    BLT
682128    BLT
682129    BLT
682130    BLT
682131    BLT
682132    BLT
682133    BLT
682134    BLT
682135    BLT
682136    BLT
682137    BLT
682138    BLT
682139    BLT
682140    BLT
682141    BLT
682142    BLT
682143    BLT
682144    BLT
682145    BLT
682146    BLT
682147    BLT
682148    BLT
682149    BLT
682150    BLT
682151    BLT
682152    BLT
682153    BLT
Name: FieldPosition, Length: 682154, dtype: object

In [23]:
df.columns = [col.lower() for col in df.columns]

In [13]:
df.Yards.mean()

4.227626019930983

In [24]:
df.distance.mean()

8.319153739478182

In [15]:
len(df[df.Yards > df.Distance])

116996

In [16]:
len(df)

682154

In [22]:
df.groupby(["NflIdRusher"])['Yards'].mean().max()

22.0

In [25]:
df.groupby(["defendersinthebox"]).count()

,gameid,playid,team,x,y,s,a,dis,orientation,dir,...,week,stadium,location,stadiumtype,turf,gameweather,temperature,humidity,windspeed,winddirection
defendersinthebox,,,,,,,,,,,,,,,,,,,,,
2.0,44,44,44,44,44,44,44,44,44,44,...,44,44,44,44,44,44,44,44,44,44
3.0,528,528,528,528,528,528,528,528,528,528,...,528,528,528,484,528,506,528,528,440,418
4.0,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3300,3652,3212,3168,3586,3014,2926
5.0,22418,22418,22418,22418,22418,22418,22418,22418,22416,22416,...,22418,22418,22418,20724,22418,20460,20966,22286,19932,19602
6.0,209792,209792,209792,209792,209792,209792,209792,209792,209787,209780,...,209792,209792,209792,195866,209792,193644,192258,207702,182732,179124
7.0,279686,279686,279686,279686,279686,279686,279686,279686,279678,279679,...,279686,279686,279686,262130,279686,255376,252912,277244,242066,236830
8.0,139370,139370,139370,139370,139370,139370,139370,139370,139363,139364,...,139370,139370,139370,132528,139370,124828,124344,138006,118426,115368
9.0,17072,17072,17072,17072,17072,17072,17072,17072,17071,17071,...,17072,17072,17072,16412,17072,15136,15422,17028,15092,14740
10.0,5038,5038,5038,5038,5038,5038,5038,5038,5038,5038,...,5038,5038,5038,4752,5038,4664,4708,5038,4488,4378
11.0,4532,4532,4532,4532,4532,4532,4532,4532,4532,4532,...,4532,4532,4532,4202,4532,4092,4136,4510,4026,4026